#abc {
	display:none;
	position:absolute;
	z-index:1000;
	top:48px;
	right:0px;
	font-size:11px;
	color: rgb(0, 122, 255);
	background-color: transparent;
	padding: 8px;
}

#abc li {
	padding:2px 0 0 0;
	font-weight: 500;
	border:0;
	height:11px;
}

#abc li:first-child {
	padding-top:6px;
}
