# Ignore bundler config
/.bundle

# Ignore vscode settings
/.vscode

# Ignore all logfiles and tempfiles
npm-debug.log

# Ignore coverage results
/coverage

# Ignore generated docs
/docs

# Ignore node_modules
/node_modules

# Ignore vendored gems
/vendor/bundle
