# Ignore bundler config
/.bundle

# Ignore vscode settings
/.vscode

# Ignore env variables
.env

# Ignore all logfiles and tempfiles
npm-debug.log

# Ignore coverage results
/coverage

# Ignore cypress downloads, screenshots and videos
/cypress/downloads
/cypress/screenshots
/cypress/videos

# Ignore node_modules
/node_modules

# Ignore build directory
/public

# Ignore vendored gems
/vendor/bundle
