<div id="panel">
    <fieldset>
        <div class="row">
            <label>Name</label>
            <input type="text" id="episodeName"/>
        </div>
        <div class="row">
            <label>Status</label>
            <div id="watched"></div>
            <div id="recorded"></div>
            <div id="expected"></div>
        </div>
        <div class="row" id="statusDateRow">
            <label>When</label>
            <input type="text" id="statusDate" readonly="true"/>
        </div>
    </fieldset>
</div>