<div id="panel">
	<h2>Data</h2>
	<fieldset>
		<div class="row toView" id="dataSyncRow">
			<label>Import/Export</label>
		</div>
	</fieldset>
	<h2>Application</h2>
	<fieldset>
		<div class="row toView" id="aboutRow">
			<label>About</label>
		</div>
	</fieldset>
	<h2>Reports</h2>
	<fieldset>
		<div class="row toView" id="recordedReportRow">
			<label>All Recorded</label>
		</div>
		<div class="row toView" id="expectedReportRow">
			<label>All Expected</label>
		</div>
		<div class="row toView" id="missedReportRow">
			<label>All Missed</label>
		</div>
		<div class="row toView" id="incompleteReportRow">
			<label>All Incomplete</label>
		</div>
	</fieldset>
</div>