<div id="panel">
    <fieldset>
        <div class="row">
            <label>Data</label>
						<a id="import" class="toggle button blueButton">Import</a>
            <a id="export" class="toggle button blueButton">Export</a>
        </div>
        <div class="row">
            <label>Cache</label>
            <a id="update" class="toggle button blueButton">Update</a>
        </div>
				<div class="row">
            <label>Status</label>
            <input type="text" id="status" readonly="true" value=""/>
        </div>
    </fieldset>
</div>