<div id="dialog">
	<section>
		<h2>Statistics</h2>
		<div class="row">
			<label>Programs</label>
			<input type="text" id="totalPrograms" readonly="true" value=""/>
		</div>
		<div class="row">
			<label>Series</label>
			<input type="text" id="totalSeries" readonly="true" value=""/>
		</div>
		<div class="row">
			<label>Episodes</label>
			<input type="text" id="totalEpisodes" readonly="true" value=""/>
		</div>
	</section>
	<section>
		<h2>Version</h2>
		<div class="row">
			<label>Database</label>
			<input type="text" id="databaseVersion" readonly="true" value=""/>
		</div>
		<div class="row">
			<label>Application</label>
			<input type="text" id="appVersion" readonly="true" value=""/>
		</div>
		<div class="row">
			<a class="button left" id="update">Check for updates</div>
		</div>
	</section>
</div>
