<div id="dialog">
	<section>
		<div class="row">
			<label>Name</label>
			<input type="text" id="episodeName"/>
		</div>
		<div class="row">
			<label>Status</label>
			<div id="watched"></div>
			<div id="recorded"></div>
			<div id="expected"></div>
			<div id="missed"></div>
		</div>
		<div class="row" id="statusDateRow">
			<label>When</label>
			<input type="date" id="statusDate"/>
		</div>
		<div class="row" id="unverifiedRow">
			<label>Unverified</label>
			<input type="checkbox" id="unverified"/>
			<label for="unverified"></label>
		</div>
		<div class="row">
			<label>Unscheduled</label>
			<input type="checkbox" id="unscheduled"/>
			<label for="unscheduled"></label>
		</div>
	</section>
</div>
