<div id="dialog">
	<section>
		<div class="row">
			<label>Name</label>
			<input type="text" id="seriesName"/>
		</div>
		<div class="row">
			<label>Airs</label>
			<select id="nowShowing">
				<option value>Not Showing</option>
				<option value="1">Mondays</option>
				<option value="2">Tuesdays</option>
				<option value="3">Wednesdays</option>
				<option value="4">Thursdays</option>
				<option value="5">Fridays</option>
				<option value="6">Saturdays</option>
				<option value="7">Sundays</option>
				<option value="8">Daily</option>
			</select>
		</div>
	</section>
	<section>
		<h2>Advanced</h2>
		<div class="row">
			<label>Move To</label>
			<input type="text" id="moveTo" readonly="true" value=""/>
		</div>
	</section>
</div>
