<div id="dialog">
	<section>
		<h2>Application</h2>
		<div class="row toView" id="aboutRow">
			<label>About</label>
		</div>
		<div class="row toView" id="loginRow">
			<label>Login</label>
		</div>
	</section>
	<section>
		<h2>Reports</h2>
		<div class="row toView" id="recordedReportRow">
			<label>All Recorded</label>
		</div>
		<div class="row toView" id="expectedReportRow">
			<label>All Expected</label>
		</div>
		<div class="row toView" id="missedReportRow">
			<label>All Missed</label>
		</div>
		<div class="row toView" id="incompleteReportRow">
			<label>All Incomplete</label>
		</div>
	</section>
</div>
