@media (prefers-color-scheme: light) {
	:root {
		--default-background-color: rgb(242, 242, 247);
		--default-alternate-background-color: rgb(255, 255, 255);

		--default-text-color: rgb(0, 0, 0);
		--default-alternate-text-color: rgb(255, 255, 255);
		--default-secondary-text-color: rgb(138, 138, 142);

		--default-action-color: rgb(0, 122, 255);
		--default-caution-color: rgb(255, 59, 48);
		--default-warning-color: rgb(255, 255, 222);
		--default-separator-color: rgb(227, 227, 227);
		--default-disabled-color: rgb(192, 192, 192);

		--header-footer-background-color: rgb(247, 247, 247);
		--header-footer-separator-color: rgb(194, 194, 194);

		--list-background-color: rgb(255, 255, 255);
		--list-group-color: rgb(229, 229, 229);
		--list-icon-color: rgb(196, 196, 199);

		--watched-color: rgb(26, 199, 89);
		--watched-text-color: var(--default-text-color);
		--recorded-color: rgb(255, 59, 48);
		--recorded-text-color: var(--default-alternate-text-color);
		--expected-color: rgb(255, 204, 0);
		--expected-text-color: var(--default-text-color);
		--missed-color: rgb(142, 142, 147);
		--missed-text-color: var(--default-alternate-text-color);

		--toggle-switch-track-color: rgb(233, 233, 235);
		--toggle-switch-thumb-color: rgb(255, 255, 255);
		--toggle-switch-shadow-color: rgba(0, 0, 0, 0.2);
		--toggle-switch-checked-color: rgb(52, 199, 89);

		--notices-background-color: rgb(0, 0, 0);
		--notices-text-color: var(--default-alternate-text-color);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--default-background-color: rgb(0, 0, 0);
		--default-alternate-background-color: rgb(28, 28, 30);

		--default-text-color: rgb(255, 255, 255);
		--default-alternate-text-color: rgb(0, 0, 0);
		--default-secondary-text-color: rgb(152, 152, 159);

		--default-action-color: rgb(11, 132, 255);
		--default-caution-color: rgb(255, 69, 58);
		--default-warning-color: rgba(191, 143, 255, 0.4);
		--default-separator-color: rgb(45, 45, 47);
		--default-disabled-color: rgb(77, 77, 77);

		--header-footer-background-color: rgb(18, 18, 18);
		--header-footer-separator-color: rgb(66, 66, 66);

		--list-background-color: rgb(0, 0, 0);
		--list-group-color: rgb(50, 50, 52);
		--list-icon-color: rgb(90, 90, 95);

		--watched-color: rgb(48, 209, 91);
		--watched-text-color: var(--default-alternate-text-color);
		--recorded-color: rgb(255, 69, 58);
		--recorded-text-color: var(--default-text-color);
		--expected-color: rgb(255, 214, 11);
		--expected-text-color: var(--default-alternate-text-color);
		--missed-color: rgb(142, 142, 147);
		--missed-text-color: var(--default-text-color);

		--toggle-switch-track-color: rgb(68, 68, 72);
		--toggle-switch-thumb-color: rgb(255, 255, 255);
		--toggle-switch-shadow-color: rgba(0, 0, 0, 0.2);
		--toggle-switch-checked-color: rgb(48, 209, 88);

		--notices-background-color: rgb(90, 90, 95);
		--notices-text-color: var(--default-text-color);
	}
}

:root {
	color-scheme: light dark;
}

/* Default application styles */
body {
	background-color: var(--default-background-color);
	color: var(--default-text-color);
	font-family: Helvetica Neue;
	font-size: 17px;
	font-weight: 300;
	overflow: hidden;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
}

/* Hide the header & footer content by default */
#header *,
#footer * {
	display: none;
}

/* Header title */
h1 {
	margin: 0;
	background-color: var(--header-footer-background-color);
	border-bottom: 1px solid var(--header-footer-separator-color);
	display: block;
	font-size: inherit;
	font-weight: 500;
	padding: 11px 100px;
	text-align: center;
}

/* Footer title */
footer {
	background-color: var(--header-footer-background-color);
	border-top: 1px solid var(--header-footer-separator-color);
	display: block;
	font-weight: 500;
	padding: 11px 0 11px 0;
	text-align: center;
	min-height: 21px;
}

/* Main content wrapper (for animating view transitions) */
#contentWrapper {
	position: relative;
	transition-duration: 300ms;
	transition-property: transform;

	/* Hide the content wrapper while content is being loaded */
	&.loading {
		visibility: hidden;
		transform: translateX(100%);
	}

	/* Show the content wrapper once the content has finished loading */
	&.loaded {
		visibility: visible;
		transform: translateX(0%);
	}
}

/* Now loading indicator */
#nowLoading {
	margin: 20px auto;
	background: url(../images/loading.svg) no-repeat;
	height: 20px;
	padding-left: 25px;
	width: 165px;
	position: relative;
	display: none;
	font-weight: 400;
	color: var(--default-secondary-text-color);

	/* Show the now loading indicator while content is being loaded */
	&.loading {
		display: block;
	}
}

a {
	/* Default buttons */
	&.button {
		position: absolute;
		overflow: hidden;
		padding: 0 3px;
		line-height: 30px;
		color: var(--default-action-color);
		text-overflow: ellipsis;
		text-decoration: none;
		white-space: nowrap;
		font-weight: 400;
	}

	/* Position of buttons in header */
	&.header {
		top: 7px;
	}

	/* Position of buttons in footer */
	&.footer {
		bottom: 20px;
	}

	/* Position of left buttons */
	&.left {
		left: 6px;
		right: auto;
	}

	/* Position of right buttons */
	&.right {
		right: 6px;
	}

	/* Padding for back navigation buttons */
	&.backButton {
		padding-left: 20px;

		/* Chevron glyph for back navigation buttons */
		&:before {
			content: "";
			position: absolute;
			width: 10px;
			height: 10px;
			top: 8px;
			left: 5px;
			border-style: solid;
			border-color: var(--default-action-color);
			border-width: 0 0 3px 3px;
			transform: rotate(45deg);
		}
	}

	/* Confirm action buttons */
	&.confirmButton {
		font-weight: 500;
	}

	/* Caution action buttons */
	&.cautionButton {
		color: var(--default-caution-color);
	}

	/* Disabled action buttons */
	&.disabled {
		color: var(--default-disabled-color);
	}
}

/* Scrolling lists & dialogs */
ul,
#dialog {
	overflow-y: scroll;
}

/* Default scrolling lists */
ul {
	background-color: var(--list-background-color);
	padding: 0;
	margin: 0;

	/* List items */
	li {
		margin: 0 0 0 15px;
		border-top: 1px solid var(--default-separator-color);
		padding: 2px 0;
		list-style: none;

		/* List group headers */
		&.group {
			padding: 1px 15px;
			font-weight: 500;
			background-color: var(--list-group-color);
			border: 0;
			margin-left: 0;
		}

		/* No top border for the first item in a list or list group */
		&.group + li,
		&:first-child:not(.group) {
			border-top: 0;
		}

		/* List item content */
		a {
			min-height: 40px;
			display: block;
			margin: -2px 0px -2px -15px;
			padding: 2px 32px 2px 15px;
			transform: rotate(0);

			/* Highlighted list items */
			&.warning {
				background-color: var(--default-warning-color);
			}

			/* Episode status indicators for episode list */
			&.status {
				margin-left: -10px;
				border-left: 5px solid transparent;

				/* Use double status indicators for unverified episodes */
				&.Unverified {
					border-left-style: double;
				}
			}

			/* Watched status indicators for episode list */
			&.watched {
				border-left-color: var(--watched-color);
			}

			/* Recorded status indicators for episode list */
			&.recorded {
				border-left-color: var(--recorded-color);
			}

			/* Expected status indicators for episode list */
			&.expected {
				border-left-color: var(--expected-color);
			}

			/* Missed status indicators for episode list */
			&.missed {
				border-left-color: var(--missed-color);
			}

			/* List item content subtext */
			div.subText {
				font-size: 12px;
				color: var(--default-secondary-text-color);
			}
		}

		/* Drag to sort */
		&.sortable-ghost {
			visibility: hidden;
		}

		&.sortable-drag {
			background-color: var(--default-alternate-background-color);
			opacity: 0.95;
		}
	}

	&.withHelper {
		/* Prevent list items from running under helper */
		li {
			margin-right: 27px;

			/* No right padding for lists that use a helper */
			a {
				padding-right: 5px;

				/* Hide the chevron images for lists that use a helper */
				&:before {
					display: none;
				}
			}
		}
	}
}

/* Chevron glyph for list items and navigating to a subview */
ul li a:before,
.toView:before {
	content: "";
	position: absolute;
	width: 7px;
	height: 7px;
	right: 0;
	border-style: solid;
	border-color: var(--list-icon-color);
	border-width: 3px 3px 0 0;
	transform-origin: 100% 100%;
	transform: rotate(45deg) translate(0%, 240%);
}

/* Chevron image for list items in edit mode */
ul.edit li a:before {
	content: "i";
	position: absolute;
	width: 20px;
	height: 20px;
	top: 12px;
	right: 5px;
	border-radius: 14px;
	border: 1px solid var(--list-icon-color);
	text-align: center;
	font-family: serif;
	color: var(--list-icon-color);
	line-height: 20px;
	transform-origin: 100% 100%;
	transform: rotate(0);
}

/* Delete image for list items in delete mode */
ul.delete li a:before {
	content: "\2013";
	position: absolute;
	width: 20px;
	height: 20px;
	top: 12px;
	right: 6px;
	background-color: var(--default-caution-color);
	border-radius: 14px;
	border: 0;
	text-align: center;
	color: var(--default-alternate-text-color);
	line-height: 16px;
	transform-origin: 100% 100%;
	transform: rotate(0);
}

/* Progress bars */
div.progressBar {
	background-color: var(--missed-color);
	height: 14px;
	font-size: 12px;
	overflow: hidden;

	/* Progress bar sections */
	div {
		float: left;
		height: inherit;
		text-align: center;

		/* Totals in progress bars */
		&.total {
			float: right !important;
			padding-right: 2px;
			color: var(--missed-text-color);
		}

		/* Watched section in progress bars */
		&.watched {
			background-color: var(--watched-color);
			color: var(--watched-text-color);
		}

		/* Recorded section in progress bars */
		&.recorded {
			background-color: var(--recorded-color);
			color: var(--recorded-text-color);
		}

		/* Expected section in progress bars */
		&.expected {
			background-color: var(--expected-color);
			color: var(--expected-text-color);
		}
	}
}

/* Dialog sections */
section {
	padding-top: 20px;
}

/* Hide stats section in about view initially */
#statistics {
	display: none;
}

/* Dialog titles */
h2 {
	margin: 10px 0 6px 15px;
	font-size: 14px;
	font-weight: 300;
	color: var(--default-secondary-text-color);
	text-transform: uppercase;
}

/* Dialog rows */
.row {
	background: var(--default-alternate-background-color);
	min-height: 42px;
	padding-left: 15px;
	border-bottom: 1px solid var(--default-separator-color);
	white-space: nowrap;
	overflow: hidden;
	transform: rotate(0);
	display: flex;

	/* Top border for first row in a dialog or dialog section */
	h2 + &,
	&:first-child {
		border-top: 1px solid var(--default-separator-color);
	}

	/* First row in a dialog with no preceding header */
	&:first-child {
		margin-top: 33px;
	}

	/* Overlay to make offset separators between dialog rows */
	+ &:after {
		content: "";
		position: absolute;
		width: 15px;
		height: 1px;
		left: 0px;
		background-color: inherit;
		transform: translateY(-1px);
	}

	/* Episode status toggles */
	#watched,
	#recorded,
	#expected,
	#missed {
		height: 25px;
		width: 25px;
		border-width: 2px;
		border-style: solid;
		border-radius: 14px;
		display: inline-block;
		margin-right: 10px;
		position: relative;
		top: 7px;
		transition: background-color 0.25s ease-in-out;
	}

	/* Watched episode status toggle (unselected) */
	#watched {
		border-color: var(--watched-color);

		/* Watched episode status toggle (selected) */
		&.status {
			background-color: var(--watched-color);
		}
	}

	/* Recorded episode status toggle (unselected) */
	#recorded {
		border-color: var(--recorded-color);

		/* Recorded episode status toggle (selected) */
		&.status {
			background-color: var(--recorded-color);
		}
	}

	/* Expected episode status toggle (unselected) */
	#expected {
		border-color: var(--expected-color);

		/* Expected episode status toggle (selected) */
		&.status {
			background-color: var(--expected-color);
		}
	}

	/* Missed episode status toggle (unselected) */
	#missed {
		border-color: var(--missed-color);

		/* Missed episode status toggle (selected) */
		&.status {
			background-color: var(--missed-color);
		}
	}

	/* Buttons in dialog rows */
	a.button {
		line-height: 40px;
	}
}

/* Dialog labels */
label {
	line-height: 40px;
	display: inline-block;
	min-width: 105px;
}

/* Dialog text content */
p {
	margin: 8px 15px;
	color: var(--default-secondary-text-color);
}

/* Dialog fields */
input:not([type="radio"]),
select {
	border: none;
	height: 40px;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	background: transparent;
	outline: none;
	appearance: none;
	-webkit-appearance: none;
	-webkit-text-fill-color: var(--default-text-color);
}

/* Prevent date fields on iOS from being centred */
input::-webkit-date-and-time-value {
	text-align: left;
}

/* Hide browser default checkbox style */
input[type="checkbox"] {
	max-height: 0;
	max-width: 0;
	opacity: 0;
	margin: 0;

	/* Background for checkbox sliders */
	+ label {
		display: inline-block;
		position: relative;
		background-color: var(--toggle-switch-track-color);
		height: 30px;
		width: 50px;
		border-radius: 15px;
		top: 6px;
		min-width: 0;
		margin-bottom: -1px;

		/* Left side of checkbox slider (unchecked) */
		&:before {
			content: "";
			position: absolute;
			display: block;
			height: 30px;
			width: 30px;
			left: 0;
			border-radius: 15px;
			transition-property: width, background-color;
			transition-duration: 0.25s;
			transition-timing-function: ease-in-out;
		}

		/* Right side of checkbox slider (unchecked) */
		&:after {
			content: "";
			position: absolute;
			display: block;
			height: 30px;
			width: 30px;
			left: 0;
			border-radius: 15px;
			background-color: var(--toggle-switch-thumb-color);
			box-shadow: inset 0 0 0 1px var(--toggle-switch-shadow-color);
			transition-property: left, box-shadow;
			transition-duration: 0.25s;
			transition-timing-function: ease-in-out;
		}
	}

	&:checked + label {
		/* Left side of checkbox slider (checked) */
		&:before {
			width: 50px;
			background-color: var(--toggle-switch-checked-color);
		}

		/* Right side of checkbox slider (checked) */
		&:after {
			left: 20px;
			box-shadow: inset 0 0 0 1px var(--toggle-switch-checked-color);
		}
	}
}

/* Notices stack */
#notices {
	position: absolute;
	visibility: hidden;
	z-index: 1000;
	width: 100%;
	background: var(--default-background-color);
}

/* Notices */
div.notice {
	background: var(--notices-background-color);
	border-top: 1px solid var(--default-background-color);

	/* Notice buttons */
	a.button {
		padding-top: 7px;
	}

	/* Notice content */
	p {
		padding: 11px 5px 11px 50px;
		margin: 0;
		color: var(--notices-text-color);
	}
}

/* List index */
#index {
	display: none;
	position: absolute;
	top: 14px;
	right: 0px;
	width: 27px;
	font-size: 11px;
	font-weight: 500;
	text-align: center;
	color: var(--default-action-color);
	background-color: transparent;
	z-index: 100;
	touch-action: none;

	li {
		padding: 2px 0 0 0;
		border: 0;
		height: 11px;
		margin: 0;

		&:first-child {
			padding-top: 6px;
		}
	}
}
