#sw-wrapper {
	position:absolute; z-index:1000;
	left:0;
	width:100%;
	text-align:left;
	background: #FFF;
}

#sw-header {
	height:40px;
	border-style: solid;
	border-color: rgb(200, 199, 204);
	border-width: 1px 0;
	background: rgb(248, 248, 248);
	padding-top: 7px;
}

.sw-pressed { opacity:0.4; }

#sw-slots-wrapper {
	position:relative; z-index:999;
	display:block;
	height:215px;
	padding:0;
	overflow:hidden;
}

#sw-slots {
	display:table;
	width:100%;
	background:#fcfcfc;
}

#sw-slots div {
	display:table-cell;
	height:100%;
	padding-top:86px;
	/*background-color:#fcfcfc;*/
	/*background-position: 0 0, 100% 0;*/
	/*background-repeat: repeat-y;*/
}

#sw-slots div:first-child { border:0; }

#sw-slots ul {
	padding:0 0 85px 0; margin:0;
	list-style:none;
	background: transparent;
}

#sw-slots .sw-right { text-align:right; }
#sw-slots .sw-shrink { width:1%; }
#sw-slots .sw-readonly { background:#ddd; }

#sw-slots li {
	padding:0 8px;
	height:45px;
	overflow:hidden;
	border: 0;
	font-weight: 500;
}

#sw-frame {
	position:absolute; z-index:1001;
	left:0; right:0; bottom:99px;
	height:35px;
	margin: 0 10px;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	pointer-events: none;
}
